name: CI - Build, Scan, Push Docker Image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_scan_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /opt/hostedtoolcache || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: DockerHub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/llmops-e2e:latest .

      - name: Tag and Push Image to DockerHub
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/llmops-e2e
          docker tag $IMAGE:latest $IMAGE:${{ github.sha }}
          docker push $IMAGE:latest
          docker push $IMAGE:${{ github.sha }}

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          severity: "HIGH,CRITICAL"
          output: "trivy-fs-report.txt"
          exit-code: "0"
          ignore-unfixed: true

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "image"
          image-ref: "${{ secrets.DOCKERHUB_USERNAME }}/llmops-e2e:latest"
          severity: "HIGH,CRITICAL"
          format: "table"
          output: "trivy-image-report.txt"
          exit-code: "0"
          ignore-unfixed: true

      - name: Upload Trivy Reports
        uses: actions/upload-artifact@v4
        with:
          name: trivy-reports
          path: |
            trivy-fs-report.txt
            trivy-image-report.txt
